<html>
  <head>
    <script
    src="https://kit.fontawesome.com/4f9d871909.js"
    crossorigin="anonymous"
  ></script>
    <link rel="stylesheet" href="../assets/css/home.css" />
  </head>
  <body>
    <h1>home page here </h1>
    	
<i class="fa fa-glass"></i>
  </body>
</html>
