<html>
  <head>
     <title><%= title %></title>
    <script
      src="https://kit.fontawesome.com/4f9d871909.js"
      crossorigin="anonymous"
    ></script>
    <link href="/css/home.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <footer id="name"><b> TODO App </b></footer>
    <main id="main">
      <form action="/create_items" method="post">
      <h2 class="top_input">Description</h2>
      <input
        type="text"
        name="desc"
        placeholder="What do you need to do ?"
        id="description"
      />
      <div id="select_date">
        <div id="select">
          <label for="category">Category</label>
          <select name="categories" id="category">
            <option value="personal">Personal</option>
            <option value="work">Work</option>
            <option value="school">School</option>
            <option value="other">Other</option>
          </select>
        </div>
        <div id="date">
          <label for="due">Enter due date</label>
          <input type="date" id="due" name="date" />
        </div>
      </div>
      <div id="buttons">
        <button id="addt">
          <i class="fa-sharp fa-solid fa-plus"></i>
          ADD TASK
        </button>
        <button id="deletet">
          <i class="fa-solid fa-trash-can"></i>
          DELETE TASKS
        </button>
      </form>
      </div>
      <div id="list">
          <%for(var i of dues){%>            
            <div id="items">             
                <input type="checkbox" id="checkbox" >             
                <div id="item_data"><%=i.description%></div>             
                <div id="item_date"><%=i.date%></div>             
                <div id="item_category"><%=i.category%></div>           
            </div>           
          <%}%>

      </div>
    </main>

    <script type="text/javascript" src="/js/home.js"></script>
  </body>
</html>

