:root{
    --bl:#52c4f8;
    --yl:#fbde67;
}
body{
    background-color: var(--bl);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    flex-direction: column;
    font-family: sans-serif;
}
#name{
    background-color: var(--yl);
    height: 80px;
    width: 80%;
    margin: 8px;
    border-radius: 10px;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main{
    background-color: var(--yl);
    min-height: 80%;
    width: 80%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#main form{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#description{
    height: 60px;
    width: 80%;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 1.5rem;
    margin-bottom: 20px;
    padding: 10px;
}
.top_input{
    margin-left: 0px;
}
#select_date{
    height: 100px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    margin-bottom: 20px;
}
#select{
    height: 100%;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
#category{
    height: 60px;
    width: 100%;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 1.5rem;
}
#date{
    height: 100%;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
#due{
    height: 60px;
    width: 100%;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 1.5rem;
}
#buttons{
    height: 70px;
    width: 80%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#buttons button{
    height: 100%;
    width: 25%;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 1.5rem;

}
#addt{
    background-color: rgb(5, 223, 5);
}
#deletet{
    background-color: red;
}
#list{
    height: 180px;
    width: 80%;
    background-color: var(--yl);
    margin: 10px;
    border-radius: 10px;
    border: 1px solid black;
    overflow: scroll;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-direction: column;
    padding-top: 10px;
}
#items{
    height: 60px;
    width: 80%;
    background-color: var(--bl);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 10px;
}
#checkbox{
    height: 30px;
    width: 30px;
    margin-left: 10px;
}
#item_data{
    height: 30px;
    width: 50%;
    border: 1px solid black;
    overflow: scroll;
    border-radius: 10px;
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--yl) ;
    padding: 4px;
    flex-wrap: wrap;
}
#item_date{
    height: 30px;
    width: 20%;
    border: 1px solid black;
    border-radius: 10px;
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--yl) ;
}
#item_category{
    height: 30px;
    width: 20%;
    border: 1px solid black;
    border-radius: 10px;
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--yl) ;
}